<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrimaryConnection" value='Provider=SQLNCLI10.1;Integrated Security=SSPI;Persist Security Info=False;User ID="";Initial Catalog=EFSample;Data Source=sd-dev-iis01;Initial File Name="";Server SPN=""'/>
  </appSettings>
</configuration>